<!DOCTYPE html>
<html>

<head>
    <title>Add a Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>➕ Add a New Pet</h1>
        <form method="POST" class="form-card">
            <label>Name</label>
            <input type="text" name="name" required>

            <label>Type</label>
            <input type="text" name="type" required>

            <label>Breed</label>
            <input type="text" name="breed" required>

            <label>Description</label>
            <textarea name="description" required></textarea>

            <label>Contact Name</label>
            <input type="text" name="contact_name" required>

            <label>Email</label>
            <input type="email" name="contact_email" required>

            <label>Contact Number Number</label>
            <input type="text" name="contact_phone" required>


            <button type="submit">Submit</button>
            <a href="{{ url_for('index') }}" class="back-link">← Back</a>
        </form>
    </div>
</body>

</html>